alembic==1.11.1
allennlp==1.1.0
allennlp-models==1.1.0
attrs==23.1.0
beautifulsoup4==4.8.1
bert-score==0.3.11
bioc==2.0.post5
blis==0.7.9
bllipparser==2021.11.7
boto3==1.26.149
botocore==1.29.149
catalogue==1.0.2
certifi==2023.5.7
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1636046052501/work
charset-normalizer==3.1.0
click==8.1.3
cmaes==0.9.1
colorlog==6.7.0
conllu==4.1
cycler==0.11.0
cymem==2.0.7
exceptiongroup==1.1.1
fast-bleu==0.0.90
filelock==3.0.12
fonttools==4.38.0
fsspec==2023.1.0
ftfy==6.1.1
future==0.18.3
greenlet==2.0.2
h5py==3.8.0
huggingface-hub==0.16.4
idna==3.4
importlib-metadata==6.6.0
importlib-resources==5.12.0
iniconfig==2.0.0
intervaltree==3.1.0
jmespath==1.0.1
joblib==1.2.0
jsonlines==3.1.0
jsonnet==0.20.0
jsonpickle==3.0.1
kiwisolver==1.4.4
Levenshtein==0.21.0
lxml==4.9.2
Mako==1.2.4
MarkupSafe==2.1.3
matplotlib==3.5.3
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626179032232/work
mkl-service==2.4.0
murmurhash==1.0.9
# Editable Git install with no remote (myproject==1.0)
-e /data/chacha/CXR-Report-Metric
nltk==3.8.1
numpy==1.18.2
optuna==3.2.0
overrides==3.1.0
packaging==23.1
pandas==1.0.1
pathlib==1.0.1
pathlib2==2.3.7.post1
patsy==0.5.3
Pillow==9.5.0
plac==1.1.3
pluggy==1.0.0
preshed==3.0.8
protobuf==3.20.3
py-rouge==1.1
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyparsing==3.0.9
pytest==7.3.1
python-dateutil==2.8.2
python-Levenshtein==0.21.0
pytz==2023.3
PyYAML==6.0
rapidfuzz==3.1.1
regex==2023.6.3
requests==2.31.0
s3transfer==0.6.1
sacremoses==0.0.53
safetensors==0.3.1
scikit-learn==0.22.1
scipy==1.7.3
sentencepiece==0.1.99
six @ file:///tmp/build/80754af9/six_1644875935023/work
sortedcontainers==2.4.0
soupsieve==2.4.1
spacy==2.3.9
SQLAlchemy==2.0.15
srsly==1.0.6
statsmodels==0.13.0
tensorboardX==2.6
thinc==7.4.6
timm==0.9.2
tokenizers==0.8.0rc4
tomli==2.0.1
torch @ file:///home/conda/feedstock_root/build_artifacts/pytorch-recipe_1627802491209/work
torchaudio==0.9.0a0+33b2469
torchvision @ file:///home/conda/feedstock_root/build_artifacts/torchvision-split_1628627470392/work
tqdm==4.65.0
transformers==3.0.1
typing_extensions==4.6.3
urllib3==1.26.16
wasabi==0.10.1
wcwidth==0.2.6
word2number==1.1
zipp==3.15.0
