aiohttp==3.8.4
aiosignal==1.3.1
alabaster @ file:///home/ktietz/src/ci/alabaster_1611921544520/work
anaconda-clean @ file:///opt/conda/conda-bld/anaconda-clean_1652723720992/work
anaconda-client==1.11.0
anaconda-navigator==2.3.1
anaconda-project @ file:///opt/conda/conda-bld/anaconda-project_1660339890420/work
anyio==4.0.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
astroid @ file:///tmp/abs_e5wkt48jiz/croots/recipe/astroid_1659023120113/work
astropy @ file:///opt/conda/conda-bld/astropy_1657786094003/work
asttokens==2.4.0
async-lru==2.0.4
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==23.1.0
Automat @ file:///tmp/build/80754af9/automat_1600298431173/work
autopep8 @ file:///opt/conda/conda-bld/autopep8_1650463822033/work
Babel==2.12.1
backcall==0.2.0
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
bcrypt @ file:///tmp/abs_6fpe92qzzo/croots/recipe/bcrypt_1659554336150/work
beautifulsoup4==4.12.2
bert-score==0.3.13
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
bitarray @ file:///opt/conda/conda-bld/bitarray_1657739645104/work
bkcharts==0.2
black @ file:///opt/conda/conda-bld/black_1660237809219/work
bleach==6.0.0
blis==0.7.9
bokeh @ file:///tmp/abs_34854e1f-d7d3-4f22-85d9-1075588e4ecdga64o0qg/croots/recipe/bokeh_1658136654619/work
boto3 @ file:///tmp/abs_ae3c72db-af47-4298-baea-7270430e2c96scbpg1_h/croots/recipe/boto3_1657820109150/work
botocore @ file:///opt/conda/conda-bld/botocore_1657739486257/work
Bottleneck @ file:///opt/conda/conda-bld/bottleneck_1657175564434/work
brotlipy==0.7.0
catalogue==2.0.8
certifi==2023.7.22
cffi==1.15.1
chardet @ file:///tmp/build/80754af9/chardet_1607706775000/work
charset-normalizer==2.1.1
click @ file:///tmp/build/80754af9/click_1646056590078/work
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
clyent==1.2.1
cmake==3.25.0
colorama @ file:///opt/conda/conda-bld/colorama_1657009087971/work
colorcet @ file:///tmp/build/80754af9/colorcet_1651851439427/work
comm==0.1.4
conda==23.1.0
conda-build==3.22.0
conda-content-trust @ file:///tmp/abs_5952f1c8-355c-4855-ad2e-538535021ba5h26t22e5/croots/recipe/conda-content-trust_1658126371814/work
conda-pack @ file:///tmp/build/80754af9/conda-pack_1611163042455/work
conda-package-handling @ file:///opt/conda/conda-bld/conda-package-handling_1663598473529/work
conda-repo-cli==1.0.20
conda-token @ file:///Users/paulyim/miniconda3/envs/c3i/conda-bld/conda-token_1662660369760/work
conda-verify==3.4.2
confection==0.1.0
constantly==15.1.0
cookiecutter @ file:///opt/conda/conda-bld/cookiecutter_1649151442564/work
cryptography @ file:///tmp/build/80754af9/cryptography_1652101588893/work
cssselect==1.1.0
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cymem==2.0.7
Cython @ file:///opt/conda/conda-bld/cython_1663692770955/work
cytoolz==0.11.0
daal4py==2021.6.0
dask @ file:///tmp/abs_994957d9-ec12-411f-b953-c010f9d489d10hj3gz4k/croots/recipe/dask-core_1658513209934/work
datasets==2.12.0
datashader @ file:///tmp/abs_aa58dfo4_s/croots/recipe/datashader_1659349033064/work
datashape==0.5.4
debugpy==1.7.0
decorator==5.1.1
defusedxml==0.7.1
diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work
dill==0.3.6
distributed @ file:///tmp/abs_593da390-bd12-4acc-ba49-4c9993cbe8abgqg_w3rb/croots/recipe/distributed_1658520746481/work
docutils @ file:///opt/conda/conda-bld/docutils_1657175430858/work
emoji==2.6.0
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649926439650/work
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==1.2.0
fast-bleu==0.0.90
fastjsonschema==2.18.0
filelock @ file:///opt/conda/conda-bld/filelock_1647002191454/work
fire==0.5.0
flake8 @ file:///opt/conda/conda-bld/flake8_1648129545443/work
Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
fonttools==4.25.0
fqdn==1.5.1
frozenlist==1.3.3
fsspec @ file:///opt/conda/conda-bld/fsspec_1659972197723/work
future @ file:///tmp/build/80754af9/future_1607571303524/work
gdown==4.6.3
gensim @ file:///tmp/build/80754af9/gensim_1646806807927/work
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645438755360/work
greenlet @ file:///tmp/build/80754af9/greenlet_1628888132713/work
h5py @ file:///tmp/abs_4aewd3wzey/croots/recipe/h5py_1659091371897/work
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
holoviews @ file:///tmp/abs_eecc808c-455e-4be4-9911-ecf8341b3a34jfwskiqe/croots/recipe/holoviews_1658171506757/work
huggingface-hub==0.14.1
hvplot @ file:///tmp/abs_6fcys5jcv1/croots/recipe/hvplot_1659026496554/work
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
idna==3.4
imagecodecs @ file:///opt/conda/conda-bld/imagecodecs_1664561985385/work
imageio @ file:///tmp/abs_cd920173-f360-47c5-97b0-bf4d1076d5d4dvic0oys/croots/recipe/imageio_1658785036907/work
imagesize @ file:///opt/conda/conda-bld/imagesize_1657179498843/work
importlib-metadata==6.8.0
incremental @ file:///tmp/build/80754af9/incremental_1636629750599/work
inexactsearch==1.0.2
inflection==0.5.1
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
intake @ file:///opt/conda/conda-bld/intake_1647436631684/work
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work
ipykernel==6.25.2
ipython==8.15.0
ipython-genutils==0.2.0
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
isoduration==20.11.0
isort @ file:///tmp/build/80754af9/isort_1628603791788/work
itemadapter @ file:///tmp/build/80754af9/itemadapter_1626442940632/work
itemloaders @ file:///opt/conda/conda-bld/itemloaders_1646805235997/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
jdcal @ file:///Users/ktietz/demo/mc3/conda-bld/jdcal_1630584345063/work
jedi==0.17.2
jeepney @ file:///tmp/build/80754af9/jeepney_1627537048313/work
jellyfish @ file:///tmp/build/80754af9/jellyfish_1647944426575/work
Jinja2==3.1.2
jinja2-time @ file:///opt/conda/conda-bld/jinja2-time_1649251842261/work
jmespath @ file:///Users/ktietz/demo/mc3/conda-bld/jmespath_1630583964805/work
joblib==1.3.1
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter-console @ file:///opt/conda/conda-bld/jupyter_console_1647002188872/work
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client==8.3.1
jupyter_core==5.3.1
jupyter_server==2.4.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
jupyterlab_server==2.24.0
keyring @ file:///tmp/build/80754af9/keyring_1638531355686/work
kiwisolver @ file:///opt/conda/conda-bld/kiwisolver_1653292039266/work
langcodes==3.3.0
lazy-object-proxy @ file:///tmp/build/80754af9/lazy-object-proxy_1616529027849/work
libarchive-c @ file:///tmp/build/80754af9/python-libarchive-c_1617780486945/work
lit==15.0.7
llama-cpp-python==0.1.43
llvmlite==0.38.0
locket @ file:///opt/conda/conda-bld/locket_1652903118915/work
lxml @ file:///opt/conda/conda-bld/lxml_1657545139709/work
lz4 @ file:///tmp/build/80754af9/lz4_1619516502891/work
Markdown @ file:///tmp/build/80754af9/markdown_1614363852612/work
MarkupSafe==2.1.3
matplotlib @ file:///opt/conda/conda-bld/matplotlib-suite_1660167928326/work
matplotlib-inline==0.1.6
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mistune==3.0.1
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186066731/work
mkl-service==2.4.0
mock @ file:///tmp/build/80754af9/mock_1607622725907/work
mpmath==1.2.1
msgpack @ file:///opt/conda/conda-bld/msgpack-python_1652362659880/work
multidict==6.0.4
multipledispatch @ file:///tmp/build/80754af9/multipledispatch_1607574243360/work
multiprocess==0.70.14
munkres==1.1.4
murmurhash==1.0.9
mypy==1.2.0
mypy-extensions==1.0.0
navigator-updater==0.3.0
nb-conda-kernels @ file:///tmp/build/80754af9/nb_conda_kernels_1636035787744/work
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.8.0
nbformat==5.9.2
nest-asyncio==1.5.7
networkx @ file:///opt/conda/conda-bld/networkx_1657784097507/work
nltk @ file:///opt/conda/conda-bld/nltk_1645628263994/work
nose @ file:///opt/conda/conda-bld/nose_1642704612149/work
notebook==6.0.3
notebook_shim==0.2.3
numba @ file:///opt/conda/conda-bld/numba_1648040517072/work
numexpr @ file:///opt/conda/conda-bld/numexpr_1656940300424/work
numpy @ file:///opt/conda/conda-bld/numpy_and_numpy_base_1653915516269/work
numpydoc @ file:///opt/conda/conda-bld/numpydoc_1657529872251/work
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
openai==0.27.6
openpyxl==3.0.10
overrides==7.4.0
packaging==23.1
pandas==1.4.4
pandocfilters==1.5.0
panel @ file:///tmp/abs_bb3d3b2f-b3ea-41c0-a72e-8f54852d5cdfs70inytz/croots/recipe/panel_1658133826470/work
param @ file:///tmp/build/80754af9/param_1636647414893/work
parsel @ file:///tmp/build/80754af9/parsel_1646722533460/work
parso==0.7.1
partd @ file:///opt/conda/conda-bld/partd_1647245470509/work
pathlib @ file:///Users/ktietz/demo/mc3/conda-bld/pathlib_1629713961906/work
pathspec @ file:///tmp/abs_1foqurpsov/croots/recipe/pathspec_1659627126545/work
pathy==0.10.2
patsy==0.5.2
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pkginfo @ file:///tmp/build/80754af9/pkginfo_1643162084911/work
platformdirs==3.10.0
plotly @ file:///tmp/abs_7afcdfad-dbbb-49d2-adea-186abf525c45jbnd8p95/croots/recipe/plotly_1658160053621/work
pluggy @ file:///tmp/build/80754af9/pluggy_1648024445381/work
ply==3.11
poyo @ file:///tmp/build/80754af9/poyo_1617751526755/work
preshed==3.0.8
prometheus-client==0.17.1
prompt-toolkit==3.0.39
Protego @ file:///tmp/build/80754af9/protego_1598657180827/work
protobuf==4.23.4
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py @ file:///opt/conda/conda-bld/py_1644396412707/work
pyarrow==12.0.0
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycodestyle @ file:///tmp/build/80754af9/pycodestyle_1636635402688/work
pycosat==0.6.3
pycparser==2.21
pyct @ file:///tmp/abs_68a517ee-55fb-480e-82ab-1a8adb440a58x7qfc024/croots/recipe/pyct_1658500310800/work
pycurl==7.45.1
pydantic==1.10.11
PyDispatcher==2.0.5
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1621600989141/work
pyerfa @ file:///tmp/build/80754af9/pyerfa_1621556109336/work
pyflakes @ file:///tmp/build/80754af9/pyflakes_1636644436481/work
Pygments==2.16.1
PyHamcrest @ file:///tmp/build/80754af9/pyhamcrest_1615748656804/work
PyJWT @ file:///opt/conda/conda-bld/pyjwt_1657544592787/work
pylint @ file:///tmp/abs_6fxmc66kyk/croots/recipe/pylint_1659110350161/work
pyls-spyder==0.4.0
pyodbc @ file:///tmp/abs_d365zrcsdp/croots/recipe/pyodbc_1659513794382/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
PyQt5-sip==12.11.0
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1636110951836/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
pyspellchecker==0.7.2
pytest==7.1.2
python-dateutil==2.8.2
python-json-logger==2.0.7
python-lsp-black @ file:///opt/conda/conda-bld/python-lsp-black_1661852031497/work
python-lsp-jsonrpc==1.0.0
python-lsp-server @ file:///opt/conda/conda-bld/python-lsp-server_1661813814476/work
python-slugify @ file:///tmp/build/80754af9/python-slugify_1620405669636/work
python-snappy @ file:///tmp/build/80754af9/python-snappy_1610133040135/work
pytz @ file:///opt/conda/conda-bld/pytz_1654762638606/work
pyviz-comms @ file:///tmp/build/80754af9/pyviz_comms_1623747165329/work
PyWavelets @ file:///tmp/build/80754af9/pywavelets_1648710015787/work
pyxdg @ file:///tmp/build/80754af9/pyxdg_1603822279816/work
PyYAML==6.0.1
pyzmq==25.1.1
QDarkStyle @ file:///tmp/build/80754af9/qdarkstyle_1617386714626/work
qstylizer @ file:///tmp/build/80754af9/qstylizer_1617713584600/work/dist/qstylizer-0.1.10-py2.py3-none-any.whl
QtAwesome @ file:///tmp/build/80754af9/qtawesome_1637160816833/work
qtconsole @ file:///opt/conda/conda-bld/qtconsole_1662018252641/work
QtPy @ file:///opt/conda/conda-bld/qtpy_1662014892439/work
queuelib==1.5.0
redis==4.5.4
referencing==0.30.2
regex @ file:///tmp/abs_41f5bce5-0a2e-45aa-b231-1fd2fbd57753gfpe6sjm/croots/recipe/regex_1658257178822/work
requests==2.28.1
requests-file @ file:///Users/ktietz/demo/mc3/conda-bld/requests-file_1629455781986/work
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rope @ file:///opt/conda/conda-bld/rope_1643788605236/work
rpds-py==0.10.2
Rtree @ file:///tmp/build/80754af9/rtree_1618420843093/work
ruamel-yaml-conda @ file:///tmp/build/80754af9/ruamel_yaml_1616016711199/work
ruamel.yaml @ file:///croot/ruamel.yaml_1666304550667/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1666302247304/work
s3transfer @ file:///opt/conda/conda-bld/s3transfer_1654524197066/work
safetensors==0.3.1
scikit-image @ file:///tmp/build/80754af9/scikit-image_1648214171611/work
scikit-learn==0.22.1
scikit-learn-intelex==2021.20221004.171807
scipy==1.9.1
Scrapy @ file:///tmp/abs_e3bmwi01y8/croots/recipe/scrapy_1659598696235/work
seaborn @ file:///tmp/build/80754af9/seaborn_1629307859561/work
SecretStorage @ file:///tmp/build/80754af9/secretstorage_1614022780358/work
Send2Trash==1.8.2
service-identity @ file:///Users/ktietz/demo/mc3/conda-bld/service_identity_1629460757137/work
silpa-common==0.3
sip @ file:///tmp/abs_44cd77b_pu/croots/recipe/sip_1659012365470/work
six==1.16.0
smart-open @ file:///opt/conda/conda-bld/smart_open_1651563547610/work
sniffio==1.3.0
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
sortedcollections @ file:///tmp/build/80754af9/sortedcollections_1611172717284/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soundex==1.1.3
soupsieve==2.5
spacy==3.6.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spellchecker==0.4
Sphinx @ file:///opt/conda/conda-bld/sphinx_1657784123546/work
sphinxcontrib-applehelp @ file:///home/ktietz/src/ci/sphinxcontrib-applehelp_1611920841464/work
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work
sphinxcontrib-htmlhelp @ file:///tmp/build/80754af9/sphinxcontrib-htmlhelp_1623945626792/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work
sphinxcontrib-serializinghtml @ file:///tmp/build/80754af9/sphinxcontrib-serializinghtml_1624451540180/work
spyder-kernels @ file:///opt/conda/conda-bld/spyder-kernels_1662457880976/work
SQLAlchemy @ file:///tmp/abs_18b3238f-9c23-4182-a392-63af30a93c1er8j_yw60/croots/recipe/sqlalchemy_1657867856580/work
srsly==2.4.7
stack-data==0.6.2
stanza==1.5.0
statsmodels @ file:///tmp/build/80754af9/statsmodels_1648015433305/work
sympy @ file:///tmp/build/80754af9/sympy_1647853653589/work
tables @ file:///tmp/build/80754af9/pytables_1607975397488/work
tabulate @ file:///opt/conda/conda-bld/tabulate_1657784105888/work
TBB==0.2
tblib @ file:///Users/ktietz/demo/mc3/conda-bld/tblib_1629402031467/work
tenacity @ file:///tmp/abs_9ca5cd06-f53b-4ea6-8eea-954e11157fddo5mhurpp/croots/recipe/tenacity_1657899103026/work
termcolor==2.3.0
terminado==0.17.1
testpath @ file:///opt/conda/conda-bld/testpath_1655908557405/work
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textdistance @ file:///tmp/build/80754af9/textdistance_1612461398012/work
thinc==8.1.10
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile @ file:///tmp/build/80754af9/tifffile_1627275862826/work
timm==0.9.2
tinycss @ file:///tmp/build/80754af9/tinycss_1617713798712/work
tinycss2==1.2.1
tldextract @ file:///opt/conda/conda-bld/tldextract_1646638314385/work
tokenizers==0.13.3
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli==2.0.1
tomlkit @ file:///tmp/abs_56_0lnnq5x/croots/recipe/tomlkit_1658946880479/work
toolz @ file:///tmp/build/80754af9/toolz_1636545406491/work
torch==2.0.1+cu118
torchaudio==2.0.2+cu118
torchvision==0.15.2+cu118
tornado==6.3.3
tqdm @ file:///opt/conda/conda-bld/tqdm_1664392687731/work
traitlets==5.9.0
transformers==4.30.2
triton==2.0.0
Twisted @ file:///tmp/abs_82802zpkox/croots/recipe/twisted_1659592759417/work
typer==0.9.0
typing_extensions==4.7.1
ujson @ file:///opt/conda/conda-bld/ujson_1657544923770/work
Unidecode @ file:///tmp/build/80754af9/unidecode_1614712377438/work
uri-template==1.3.0
urllib3==1.26.16
w3lib @ file:///Users/ktietz/demo/mc3/conda-bld/w3lib_1629359764703/work
wasabi==1.1.2
watchdog @ file:///tmp/build/80754af9/watchdog_1638367282716/work
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.2
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
whatthepatch @ file:///opt/conda/conda-bld/whatthepatch_1661795988879/work
widgetsnbextension @ file:///tmp/build/80754af9/widgetsnbextension_1644992802045/work
wrapt @ file:///tmp/abs_c335821b-6e43-4504-9816-b1a52d3d3e1eel6uae8l/croots/recipe/wrapt_1657814400492/work
wurlitzer @ file:///tmp/build/80754af9/wurlitzer_1638368168359/work
xarray @ file:///opt/conda/conda-bld/xarray_1639166117697/work
xlrd @ file:///tmp/build/80754af9/xlrd_1608072521494/work
XlsxWriter @ file:///opt/conda/conda-bld/xlsxwriter_1649073856329/work
xxhash==3.2.0
yapf @ file:///tmp/build/80754af9/yapf_1615749224965/work
yarl==1.9.2
zict==2.1.0
zipp==3.16.2
zope.interface @ file:///tmp/build/80754af9/zope.interface_1625036153595/work
